.cta_events {
  background-color: #fff;
  border: #69d0db;
  border-style: solid;
  border-width: 2px;
}

.img_width {
  width: 100%;
}

h1,
h2 {
  text-align: center;
  padding: 10px;
}

p {
  text-align: left;
  padding: 10px;
}
