.cta_exhibitions {
  background-color: #fff;
  border: var(--flower);
  border-style: solid;
  border-width: 2px;
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: left;
  padding: 5px;
  margin: inherit;
}

.img_width {
  width: 100%;
}

.cosmology {
  background: #36868f;
  filter: drop-shadow(1px -5px 0.75rem #36868f);
  margin: 20px;
}

.evolution {
  background: var(--sun);
  filter: drop-shadow(1px -5px 0.75rem var(--sun));
  margin: 20px;
}

.biology {
  background: var(--sky);
  filter: drop-shadow(1px -5px 0.75rem var(--sky));
  margin: 20px;
}

.robotic {
  background: var(--flower);
  filter: drop-shadow(1px -5px 0.75rem var(--flower));
  margin: 20px;
}

.ecology {
  background: var(--dirt);
  filter: drop-shadow(1px -5px 0.75rem var(--dirt));
  margin: 20px;
}
