.cta_explore {
  background-color: #fff;
  border: var(--forest);
  border-style: solid;
  border-width: 2px;
}

h1 {
  text-align: center;
}

.img_width {
  width: 100%;
}

.text {
  text-align: left;
  padding: 10px;
}

.text_h2 {
  text-align: center;
}

.for_kids {
  background-color: var(--sky);
  filter: drop-shadow(1px -5px 0.75rem var(--sky));
}

.link a {
  text-decoration: underline;
}

.for_teachers {
  background-color: var(--sun);
  filter: drop-shadow(1px -5px 0.75rem var(--sun));
}

.researchers {
  background-color: var(--flower);
  filter: drop-shadow(1px -5px 0.75rem var(--flower));
}
