h1 {
  text-align: center;
}

.img_width {
  width: 100%;
}

.text {
  text-align: left;
  padding: 10px;
}

.text_h2 {
  text-align: center;
}

.for_kids {
  background-color: #69d0db;
  filter: drop-shadow(1px -5px 0.75rem #69d0db);
}

.link a {
  text-decoration: underline;
}

.for_teachers {
  background-color: #dbcb53;
  filter: drop-shadow(1px -5px 0.75rem #dbcb53);
}

.researchers {
  background-color: #db7fb1;
  filter: drop-shadow(1px -5px 0.75rem #db7fb1);
}
