.cta_getinvolved {
  background-color: #fff;
  border: var(--dirt);
  border-style: solid;
  border-width: 2px;
}

h1,
h2 {
  text-align: center;
}

.getinvolved p {
  padding: 10px;
}

.get {
  background: var(--forest);
  filter: drop-shadow(1px -5px 0.75rem var(--forest));
  margin: 20px;
}

.volunteer {
  background: var(--sun);
  filter: drop-shadow(1px -5px 0.75rem var(--sun));
  margin: 20px;
}

.intern {
  background: var(--sky);
  filter: drop-shadow(1px -5px 0.75rem var(--sky));
  margin: 20px;
}

form {
  margin: 20px;
  padding: 10px;
}

form p {
  padding: 0px;
}

.cta_send {
  background-color: var(--sun);
  border-color: var(--dirt);
  border-style: solid;
  border-width: 2px;
  padding: 5px 40px;
  margin: 20px;
}

input,
textarea {
  border: #707070;
  border-radius: 10px;
  margin: 1px 10px 10px 0px;
  padding: 10px;
  width: 95%;
}

textarea {
  height: 65%;
  min-height: 100px;
}

.form_contact {
  padding: 20px;
}

#send,
.send {
  display: none;
}

.send {
  background: var(--dirt);
  margin: 20px;
}

#send:checked ~ .send {
  display: block;
}
