.img_top {
  width: 100%;
}

.welcome p {
  text-align: left;
  padding: 10px;
}

.welcome_h1 {
  text-align: center;
}

.nav_center {
  text-align: center;
}

.nav_index {
  display: grid;
  gap: 20px;
  list-style: none;
}

.img_lab,
.img_moon,
.img_last {
  width: 100%;
}
