@media (min-width: 500px) {
  .welcome p {
    text-align: center;
  }

  .cta_explore:hover {
    background-color: #fff;
    border: #36868f;
    border-style: solid;
    border-width: 2px;
  }

  .cta_exhibitions:hover {
    background-color: #fff;
    border: #db7fb1;
    border-style: solid;
    border-width: 2px;
  }

  .cta_events:hover {
    background-color: #fff;
    border: #69d0db;
    border-style: solid;
    border-width: 2px;
  }

  .cta_visit:hover {
    background-color: #fff;
    border: #dbcb53;
    border-style: solid;
    border-width: 2px;
  }

  .cta_getinvolved:hover {
    background-color: #fff;
    border: #8f853d;
    border-style: solid;
    border-width: 2px;
  }

  .cta_send:hover {
    background-color: #fff;
    border: #8f853d;
    border-style: solid;
    border-width: 2px;
  }
}

@media (min-width: 680px) {
  .logo {
    min-width: 130px;
  }

  .nav_center {
    display: none;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  p,
  li,
  label {
    font-size: 18px;
  }

  option {
    font-size: 15px;
  }

  .cta_getinvolved {
    padding: 5px 15px;
  }

  .cta_events,
  .cta_visit {
    padding: 5px 20px;
  }

  .cta_exhibitions,
  .cta_explore {
    padding: 5px 10px;
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: contents;
  }

  header label {
    display: none;
  }

  .img_topex {
    display: none;
  }

  .for_kids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "a a a"
      "c e g"
      "b d f";
    gap: 15px;
    margin: 20px;
  }

  div#a {
    grid-area: a;
  }

  div#b {
    grid-area: b;
  }

  div#c {
    grid-area: c;
  }
  div#d {
    grid-area: d;
  }
  div#e {
    grid-area: e;
  }
  div#f {
    grid-area: f;
  }
  div#g {
    grid-area: g;
  }

  .for_teachers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "h h"
      "j l"
      "i k";
    gap: 15px;
    margin: 20px;
  }

  div#h {
    grid-area: h;
  }
  div#i {
    grid-area: i;
  }
  div#j {
    grid-area: j;
  }
  div#k {
    grid-area: k;
  }
  div#l {
    grid-area: l;
  }

  .researchers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "m m"
      "o n";
    gap: 15px;
    margin: 20px;
  }

  div#m {
    grid-area: m;
  }

  div#n {
    grid-area: n;
  }

  div#o {
    grid-area: o;
  }

  .text_width {
    max-width: 350px;
  }
}

@media (min-width: 750px) {
  .logo {
    max-width: 300px;
  }

  .nav_index {
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .grid_area p {
    text-align: left;
    max-width: 350px;
  }

  .grid_area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "b a"
      "d c";
    gap: 20px;
    margin-top: 45px;
  }

  .grid_area section:first-of-type {
    grid-area: a;
  }

  .grid_area section:last-of-type {
    grid-area: c;
  }

  .grid-area img:first-of-type {
    grid-area: b;
  }

  .grid-area img:last-of-type {
    grid-area: d;
  }

  .img_lab,
  .img_moon,
  .img_last {
    margin-left: 20px;
  }

  .text_short {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "f e";
    gap: 20px;
    margin-top: 45px;
  }

  .text_short section:first-of-type {
    grid-area: e;
  }

  .text_short img:first-of-type {
    grid-area: f;
  }

  .text_short p {
    max-width: 750px;
    text-align: left;
    margin-right: 20px;
  }

  .exhibitions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "p r t"
      "q s u";
    gap: 15px;
    margin: 20px;
  }

  div#p {
    grid-area: p;
  }

  div#q {
    grid-area: q;
  }

  div#r {
    grid-area: r;
  }

  div#s {
    grid-area: s;
  }

  div#t {
    grid-area: t;
  }

  div#u {
    grid-area: u;
  }

  .visit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
  }

  .getinvolved {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "v w x"
      "y y y"
      "z zz zz"
      "0 0 zx";
  }

  section#v {
    grid-area: v;
  }

  section#w {
    grid-area: w;
  }

  section#x {
    grid-area: x;
  }

  section#y {
    grid-area: y;
  }

  section#z {
    grid-area: z;
  }

  section#zz {
    grid-area: zz;
  }

  section#zx {
    grid-area: zx;
  }
}

@media (min-width: 1000px) {
  .text_center {
    margin-left: 20%;
  }
}

@media (min-width: 1400px) {
  .getinvolved {
    margin-left: 10%;
    margin-right: 10%;
  }
}
