@font-face {
  font-family: "palatinoregular";
  src: url("../font/pala.ttf") format("truetype");
}

@font-face {
  font-family: "palatinobold";
  src: url("../font/palab.ttf") format("truetype");
}

/* Layout */
body {
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

nav {
  display: none;
  position: fixed;
  top: 105px;
  background: #fff;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 10px 15px;
}

#hamburger_menu {
  display: none;
}

#hamburger_menu:checked ~ nav {
  display: block;
  position: absolute;
}

.hamburger_size {
  font-size: 2em;
}

label:hover {
  cursor: pointer;
}

main {
  background-color: #e2dfdf;
}

h1,
p,
a,
label,
input,
textarea,
li,
option {
  font-family: "palatinoregular", "Verdana, Geneva, Tahoma, sans-serif";
}

h2 {
  font-family: "palatinobold", "Verdana, Geneva, Tahoma, sans-serif";
}

a {
  text-decoration: none;
  color: #000;
}

.cta_explore {
  background-color: #36868f;
  padding: 5px 40px;
}

.cta_exhibitions {
  background-color: #db7fb1;
  padding: 5px 29px;
}

.cta_events {
  background-color: #69d0db;
  padding: 5px 44px;
}

.cta_visit {
  background-color: #dbcb53;
  padding: 5px 50px;
}

.cta_getinvolved {
  background-color: #8f853d;
  padding: 5px 24px;
}

.top {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}

footer {
  padding: 10px;
}
