h1 {
  text-align: center;
}

p {
  margin: 5px;
}

.location {
  background: #36868f;
  filter: drop-shadow(1px -5px 0.75rem #36868f);
  margin: 20px;
  text-align: center;
}

.hours {
  background: #69d0db;
  filter: drop-shadow(1px -5px 0.75rem #69d0db);
  margin: 20px;
  text-align: center;
}

.access {
  background: #8f853d;
  filter: drop-shadow(1px -5px 0.75rem #8f853d);
  margin: 20px;
  text-align: center;
}

.access p {
  text-align: left;
  padding: 10px;
}

.admission {
  background: #dbcb53;
  filter: drop-shadow(1px -5px 0.75rem #dbcb53);
  margin: 20px;
  text-align: center;
}

.admission p {
  text-align: left;
  padding: 10px;
}

.shop {
  background: #db7fb1;
  filter: drop-shadow(1px -5px 0.75rem #db7fb1);
  margin: 20px;
  text-align: center;
}

.shop p {
  text-align: left;
  padding: 10px;
}

.food {
  border-color: #8f853d;
  filter: drop-shadow(1px -5px 0.75rem #8f853d);
  border-width: 5px;
  border-style: solid;
  text-align: center;
  margin: 20px;
}

.food p {
  text-align: left;
  padding: 10px;
}
